@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Equalop</h1>
    <p class="lead">We strive to create a society where every student believes that college education is within reach</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We strive to create a society where every student believes that college education is within reach.            
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>        
         </p>
    </div>
    <div class="col-md-4">
        <h2>Register for classes</h2>        
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>        
    </div>
</div>